footer {
    background-color: #303846;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-top: 3rem;
}

footer .first, footer .second, footer .third, footer .fourth {
    width: 22%;
    margin-bottom: 20px;
}

footer p {
    width: 100%;
    text-align: center;
    color: #e8e8e8
}

footer h4 {
    color: #eee;
}

footer ul{
    list-style-type: none;
}

footer li {
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #e8e8e8;
}

footer a:hover {
    color: #007bff;
}